<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="airbnb, booking, city guide, directory, events, hotel booking, listings, marketing, places, restaurant, restaurant">
    <meta name="description" content="Guido - Directory & Listing HTML Template">
    <meta name="CreativeLayers" content="ATFN">
    <!-- css file -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Title -->
    <title>Guido - Directory & Listing HTML Template</title>
    <!-- Favicon -->
    <link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon"/>
    <link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon"/>

    <style>
        div.minimalistBlack {
            width: 65%;
            text-align: center;
            border-collapse: collapse;
            margin: auto;

        }

        .divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
            border: 1px solid #E2E6EF;
            padding: 12px 8px;

        }

        .divTable.minimalistBlack .divTableBody .divTableCell {
            font-size: 17px;
        }

        .divTable.minimalistBlack .divTableHeading {
            background: #CFCFCF;
            background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
            background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
            background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
            border-bottom: 3px solid #000000;
        }

        .divTable.minimalistBlack .divTableHeading .divTableHead {
            font-size: 15px;
            font-weight: bold;
            color: #000000;
            text-align: center;
        }

        .minimalistBlack .tableFootStyle {
            font-size: 14px;
            font-weight: bold;
            color: #000000;
            border-top: 3px solid #000000;
        }

        .minimalistBlack .tableFootStyle {
            font-size: 14px;
        }

        /* DivTable.com */
        .divTable {
            display: table;
        }

        .divTableRow {
            display: table-row;
        }

        .divTableHeading {
            display: table-header-group;
        }

        .divTableCell, .divTableHead {
            display: table-cell;
        }

        .divTableHeading {
            display: table-header-group;
        }

        .divTableFoot {
            display: table-footer-group;
        }

        .divTableBody {
            display: table-row-group;
        }
    </style>
</head>
<body>

<!-- Main Header Nav -->
<header class="header-nav menu_style_home_one style2 navbar-scrolltofixed stricky main-menu">
    <div class="container-fluid p0">
        <!-- Ace Responsive Menu -->
        <nav>
            <!-- Menu Toggle btn-->
            <div class="menu-toggle">
                <img class="nav_logo_img img-fluid" src="/images/header-logo.svg" alt="header-logo.svg">
                <button type="button" id="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="/covid/index" class="navbar_brand float-left dn-smd">
                <strong><h3 style="font-size: 60px; color:#3e4c66; font-weight: bold;">질병 지키미</h3></strong>
            </a>
            <!-- Responsive Menu Structure-->
            <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
            <div class="ht_left_widget float-left">
                <ul>
                    <li class="list-inline-item">
                        <div class="ht_search_widget">

                        </div>
                    </li>
                </ul>
            </div>
            <div style="padding-right: 5%;">
                <ul id="respMenu" class="ace-responsive-menu text-right" data-menu-style="horizontal">
                    <li>
                        <a href="/covid/list1"><span class="title">감염병 발생정보</span></a>
                        <!-- Level Two-->
                        <ul>
                            <li><a href="/covid/list1">감염병 제1군</a></li>
                            <li><a href="/covid/list2">감염병 제4군</a></li>
                        </ul>
                    </li>
                    &nbsp;&nbsp;&nbsp;

                    <li>
                        <a href="/covid/prevention1"><span class="title">예방생활 수칙</span></a>
                        <ul>
                            <li><a href="/covid/prevention1">신종인플루엔자 예방수칙</a></li>
                            <li><a href="/covid/preventionQ">신종인플루엔자 Q & A</a></li>


                        </ul>
                        <!-- Level Two-->
                    </li>&nbsp;&nbsp;&nbsp;

                    <li>
                        <a href="/covid/hospital"><span class="title">병원</span></a>
                        <!-- Level Two-->
                    </li>&nbsp;&nbsp;&nbsp;

                    <li>
                        <a href="/covid/publichospital"><span class="title">보건소</span></a>
                        <!-- Level Two-->

                    </li>&nbsp;&nbsp;&nbsp;

                    <li>

                    <li class="list-inline-item list_s">
                        <a href="/covid/RegForm" class="btn flaticon-avatar">
                            <span class="dn-1200" style="color: red;"><strong>감염병 신고</strong></span></a></li>

                </ul>
            </div>
        </nav>
    </div>
</header>
<br/>

<br><br><br>
<h2 style="text-align: center; color: #666666;"><strong>감염병 제4군</strong></h2><br>


<div class="select-box" style="text-align: center">
    <ul class="form-year">
        <h4><strong> <li class="select-title">기간</li></strong></h4>
        <li class="select-cnt">
            <label >조회 연도</label>
            <select class="w40" id="year">
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
            </select>
        </li>
    </ul>
    <ul class="form-location">
        <h4><strong> <li class="select-title">지역</li></strong></h4>
        <li class="select-cnt">
            <label >지역</label>
            <select class="w40" id="dsvd">
                <option value="서울" selected="selected">서울</option>
                <option value="대전">대전</option>
                <option value="대구">대구</option>
                <option value="부산">부산</option>
                <option value="울산">울산</option>
                <option value="인천">인천</option>
                <option value="제주">제주</option>
                <option value="광주">광주</option>
                <option value="세종">세종</option>
                <option value="경기">경기</option>
                <option value="강원">강원</option>
                <option value="충북">충북</option>
                <option value="충남">충남</option>
                <option value="경북">경북</option>
                <option value="경남">경남</option>
                <option value="전북">전북</option>
                <option value="전남">전남</option>
            </select>
        </li>
    </ul>
</div>

<br>
<div class="footer_mailchimp_form" style="text-align: center; ">
    <input type="button" value="조회하기" onclick="getNo2Ift()" style="background-color: #666666; width: 150px; height: 50px; border-radius: 5px; border: none; color: #fff;"></input>
</div>

<br>
<div class="divTable minimalistBlack">

    <div class="divTableBody" style="font-weight: bold; background-color: #666666; color: #fff;">
        <div class="divTableRow">
            <div class="divTableHead"> </div>
            <div class="divTableHead">발생 수 </div>
            <div class="divTableHead">발생률</div>
            <div class="divTableHead">사망수</div>

        </div>
    </div>

    <div class="divTableBody" >
        <div class="divTableRow">
            <div class="divTableCell" style="width: 200px;">페스트  </div>
            <div class="divTableCell" style="width: 200px;" id="pstOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="pstOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="pstNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">황열  </div>
            <div class="divTableCell" style="width: 200px;" id="ylfvOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="ylfvOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="ylfvNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">뎅기열  </div>
            <div class="divTableCell" style="width: 200px;" id="dgfvrOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="dgfvrOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="dgfvrNmdth"></div>

        </div>

        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">바이러스성출혈열  </div>
            <div class="divTableCell" style="width: 200px;" id="vrhfvOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="vrhfvOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="vrhfvNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 250px;">두창</div>
            <div class="divTableCell" style="width: 200px;" id="pckOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="pckOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="pckNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">보툴리눔독소증</div>
            <div class="divTableCell" style="width: 200px;" id="btntxOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="btntxOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="btntxNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">중증급성호흡기증후군</div>
            <div class="divTableCell" style="width: 200px;" id="srptsOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="srptsOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="srptsNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">동물인플루엔자인체감염증</div>
            <div class="divTableCell" style="width: 200px;" id="amifhOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="amifhOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="amifhNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">신종인플루엔자</div>
            <div class="divTableCell" style="width: 200px;" id="swiflOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="swiflOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="swiflNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">야토병</div>
            <div class="divTableCell" style="width: 200px;" id="tlrmOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="tlrmOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="tlrmNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">큐열</div>
            <div class="divTableCell" style="width: 200px;" id="queOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="queOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="queNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">웨스트나일열</div>
            <div class="divTableCell" style="width: 200px;" id="wsnfvOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="wsnfvOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="wsnfvNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">신종감염병증후군</div>
            <div class="divTableCell" style="width: 200px;" id="nwifOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="nwifOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="nwifNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">라임병</div>
            <div class="divTableCell" style="width: 200px;" id="lydsOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="lydsOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="lydsNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">진드기매개뇌염</div>
            <div class="divTableCell" style="width: 200px;" id="tbepOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="tbepOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="tbepNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">유비저</div>
            <div class="divTableCell" style="width: 200px;" id="ubrOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="ubrOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="ubrNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">치쿤구니야열</div>
            <div class="divTableCell" style="width: 200px;" id="chfvrOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="chfvrOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="chfvrNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">중증열성혈소판감소증후군</div>
            <div class="divTableCell" style="width: 200px;" id="sfvtsOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="sfvtsOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="sfvtsNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">중동호흡기증후군</div>
            <div class="divTableCell" style="width: 200px;" id="mdrsdOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="mdrsdOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="mdrsdNmdth"></div>

        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width: 100px;">지카바이러스감염증</div>
            <div class="divTableCell" style="width: 200px;" id="zkvfOcnm"></div>
            <div class="divTableCell" style="width: 200px;" id="zkvfOcrt"></div>
            <div class="divTableCell" style="width: 200px;" id="zkvfNmdth"></div>

        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">

    </div>
</div>


<br><br><br><br>
</body>


<section class="footer_one home1">
    <div class="container pb70">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_contact_widget">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li class="text-white df"><span class="flaticon-pin mr15"></span><a href="#">서울특별시 강서구 화곡동
                            우장산로10길 112</a></li>
                        <li class="text-white"><span class="flaticon-phone mr15"></span><a href="#">82+
                            010-9962-6997</a></li>
                        <li class="text-white"><span class="flaticon-email mr15"></span><a
                                href="#">lowell0322@naver.com</a></li>
                    </ul>
                </div>
            </div>

            <hr>
            <div class="container pt20 pb30">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="copyright-widget mt10 mb15-767">
                            <p>© 질병지키미</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="footer_logo_widget text-center mb15-767">
                            <div class="wrapper">
                                <div class="logo text-center">

                                    <span class="logo_title text-white pl15">질병지키미</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</section>
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrapper End -->
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mmenu.all.js"></script>
<script src="/js/ace-responsive-menu.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/isotop.js"></script>
<script src="/js/snackbar.min.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scrollto.js"></script>
<script src="/js/jquery-scrolltofixed-min.js"></script>
<script src="/js/jquery.counterup.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/timepicker.js"></script>
<script src="/js/wow.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM&callback=initMap"></script>
<script src="/js/googlemaps1.js"></script>
<!-- Custom script for all pages -->
<script src="/js/script.js"></script>
</body>
<script type="text/javascript">
    function getNo2Ift() {
        var year = document.getElementById("year").value;
        var dsvd = document.getElementById("dsvd").value;

        console.log(year);
        console.log(dsvd);

        var param = {
            year : year,
            dsvd : dsvd
        };

        $.ajax({
            type : 'POST',
            url : '/covid/getNo4Ift',
            data : JSON.stringify(param),
            dataType : 'json',
            contentType : 'application/json',
            success(result) {
                if(result.length===0) {
                    document.getElementById("pstOcnm").innerHTML = 0;
                    document.getElementById("pstOcrt").innerHTML = '0%';
                    document.getElementById("pstNmdth").innerHTML = 0  + "명";
                    document.getElementById("ylfvOcnm").innerHTML = 0;
                    document.getElementById("ylfvOcrt").innerHTML = '0%';
                    document.getElementById("ylfvNmdth").innerHTML = 0  + "명";
                    document.getElementById("dgfvrOcnm").innerHTML = 0;
                    document.getElementById("dgfvrOcrt").innerHTML = '0%';
                    document.getElementById("dgfvrNmdth").innerHTML = 0  + "명";
                    document.getElementById("vrhfvOcnm").innerHTML = 0;
                    document.getElementById("vrhfvOcrt").innerHTML = '0%';
                    document.getElementById("vrhfvNmdth").innerHTML = 0  + "명";
                    document.getElementById("pckOcnm").innerHTML = 0;
                    document.getElementById("pckOcrt").innerHTML = '0%';
                    document.getElementById("pckNmdth").innerHTML = 0  + "명";
                    document.getElementById("btntxOcnm").innerHTML = 0;
                    document.getElementById("btntxOcrt").innerHTML = '0%';
                    document.getElementById("btntxNmdth").innerHTML = 0  + "명";
                    document.getElementById("srptsOcnm").innerHTML = 0;
                    document.getElementById("srptsOcrt").innerHTML = '0%';
                    document.getElementById("srptsNmdth").innerHTML = 0  + "명";
                    document.getElementById("amifhOcnm").innerHTML = 0;
                    document.getElementById("amifhOcrt").innerHTML = '0%';
                    document.getElementById("amifhNmdth").innerHTML = 0  + "명";
                    document.getElementById("swiflOcnm").innerHTML = 0;
                    document.getElementById("swiflOcrt").innerHTML = '0%';
                    document.getElementById("swiflNmdth").innerHTML = 0  + "명";
                    document.getElementById("tlrmOcnm").innerHTML = 0;
                    document.getElementById("tlrmOcrt").innerHTML = '0%';
                    document.getElementById("tlrmNmdth").innerHTML = 0  + "명";
                    document.getElementById("queOcnm").innerHTML = 0;
                    document.getElementById("queOcrt").innerHTML = '0%';
                    document.getElementById("queNmdth").innerHTML = 0  + "명";
                    document.getElementById("wsnfvOcnm").innerHTML = 0;
                    document.getElementById("wsnfvOcrt").innerHTML = '0%';
                    document.getElementById("wsnfvNmdth").innerHTML = 0  + "명";
                    document.getElementById("nwifOcnm").innerHTML = 0;
                    document.getElementById("nwifOcrt").innerHTML = '0%';
                    document.getElementById("nwifNmdth").innerHTML = 0  + "명";
                    document.getElementById("lydsOcnm").innerHTML = 0;
                    document.getElementById("lydsOcrt").innerHTML = '0%';
                    document.getElementById("lydsNmdth").innerHTML = 0  + "명";
                    document.getElementById("tbepOcnm").innerHTML = 0;
                    document.getElementById("tbepOcrt").innerHTML = '0%';
                    document.getElementById("tbepNmdth").innerHTML = 0  + "명";
                    document.getElementById("ubrOcnm").innerHTML = 0;
                    document.getElementById("ubrOcrt").innerHTML = '0%';
                    document.getElementById("ubrNmdth").innerHTML = 0  + "명";
                    document.getElementById("chfvrOcnm").innerHTML = 0;
                    document.getElementById("chfvrOcrt").innerHTML = '0%';
                    document.getElementById("chfvrNmdth").innerHTML = 0  + "명";
                    document.getElementById("sfvtsOcnm").innerHTML = 0;
                    document.getElementById("sfvtsOcrt").innerHTML = '0%';
                    document.getElementById("sfvtsNmdth").innerHTML = 0  + "명";
                    document.getElementById("mdrsdOcnm").innerHTML = 0;
                    document.getElementById("mdrsdOcrt").innerHTML = '0%';
                    document.getElementById("mdrsdNmdth").innerHTML = 0  + "명";
                    document.getElementById("zkvfOcnm").innerHTML = 0;
                    document.getElementById("zkvfOcrt").innerHTML = '0%';
                    document.getElementById("zkvfNmdth").innerHTML = 0  + "명";

                } else {
                    document.getElementById("pstOcnm").innerHTML = result[0].pstOcnm;
                    document.getElementById("pstOcrt").innerHTML = result[0].pstOcrt + '%';
                    document.getElementById("pstNmdth").innerHTML = result[0].pstNmdth + "명";
                    document.getElementById("ylfvOcnm").innerHTML = result[0].ylfvOcnm;
                    document.getElementById("ylfvOcrt").innerHTML = result[0].ylfvOcrt + '%';
                    document.getElementById("ylfvNmdth").innerHTML = result[0].ylfvNmdth + "명";
                    document.getElementById("dgfvrOcnm").innerHTML = result[0].dgfvrOcnm;
                    document.getElementById("dgfvrOcrt").innerHTML = result[0].dgfvrOcrt + '%';
                    document.getElementById("dgfvrNmdth").innerHTML = result[0].dgfvrNmdth + "명";
                    document.getElementById("vrhfvOcnm").innerHTML = result[0].vrhfvOcnm;
                    document.getElementById("vrhfvOcrt").innerHTML = result[0].vrhfvOcrt + '%';
                    document.getElementById("vrhfvNmdth").innerHTML = result[0].vrhfvNmdth + "명";
                    document.getElementById("pckOcnm").innerHTML = result[0].pckOcnm;
                    document.getElementById("pckOcrt").innerHTML = result[0].pckOcrt + '%';
                    document.getElementById("pckNmdth").innerHTML = result[0].pckNmdth + "명";
                    document.getElementById("btntxOcnm").innerHTML = result[0].btntxOcnm;
                    document.getElementById("btntxOcrt").innerHTML = result[0].btntxOcrt + '%';
                    document.getElementById("btntxNmdth").innerHTML = result[0].btntxNmdth + "명";
                    document.getElementById("srptsOcnm").innerHTML = result[0].srptsOcnm;
                    document.getElementById("srptsOcrt").innerHTML = result[0].srptsOcrt + '%';
                    document.getElementById("srptsNmdth").innerHTML = result[0].srptsNmdth + "명";
                    document.getElementById("amifhOcnm").innerHTML = result[0].amifhOcnm;
                    document.getElementById("amifhOcrt").innerHTML = result[0].amifhOcrt + '%';
                    document.getElementById("amifhNmdth").innerHTML = result[0].amifhNmdth + "명";
                    document.getElementById("swiflOcnm").innerHTML = result[0].swiflOcnm;
                    document.getElementById("swiflOcrt").innerHTML = result[0].swiflOcrt + '%';
                    document.getElementById("swiflNmdth").innerHTML = result[0].swiflNmdth + "명";
                    document.getElementById("tlrmOcnm").innerHTML = result[0].tlrmOcnm;
                    document.getElementById("tlrmOcrt").innerHTML = result[0].tlrmOcrt + '%';
                    document.getElementById("tlrmNmdth").innerHTML = result[0].tlrmNmdth + "명";
                    document.getElementById("queOcnm").innerHTML = result[0].queOcnm;
                    document.getElementById("queOcrt").innerHTML = result[0].queOcrt + '%';
                    document.getElementById("queNmdth").innerHTML = result[0].queNmdth + "명";
                    document.getElementById("wsnfvOcnm").innerHTML = result[0].wsnfvOcnm;
                    document.getElementById("wsnfvOcrt").innerHTML = result[0].wsnfvOcrt + '%';
                    document.getElementById("wsnfvNmdth").innerHTML = result[0].wsnfvNmdth + "명";
                    document.getElementById("nwifOcnm").innerHTML = result[0].nwifOcnm;
                    document.getElementById("nwifOcrt").innerHTML = result[0].nwifOcrt + '%';
                    document.getElementById("nwifNmdth").innerHTML = result[0].nwifNmdth + "명";
                    document.getElementById("lydsOcnm").innerHTML = result[0].lydsOcnm;
                    document.getElementById("lydsOcrt").innerHTML = result[0].lydsOcrt + '%';
                    document.getElementById("lydsNmdth").innerHTML = result[0].lydsNmdth + "명";
                    document.getElementById("tbepOcnm").innerHTML = result[0].tbepOcnm;
                    document.getElementById("tbepOcrt").innerHTML = result[0].tbepOcrt + '%';
                    document.getElementById("tbepNmdth").innerHTML = result[0].tbepNmdth + "명";
                    document.getElementById("ubrOcnm").innerHTML = result[0].ubrOcnm;
                    document.getElementById("ubrOcrt").innerHTML = result[0].ubrOcrt + '%';
                    document.getElementById("ubrNmdth").innerHTML = result[0].ubrNmdth + "명";
                    document.getElementById("chfvrOcnm").innerHTML = result[0].chfvrOcnm;
                    document.getElementById("chfvrOcrt").innerHTML = result[0].chfvrOcrt + '%';
                    document.getElementById("chfvrNmdth").innerHTML = result[0].chfvrNmdth + "명";
                    document.getElementById("sfvtsOcnm").innerHTML = result[0].sfvtsOcnm;
                    document.getElementById("sfvtsOcrt").innerHTML = result[0].sfvtsOcrt + '%';
                    document.getElementById("sfvtsNmdth").innerHTML = result[0].sfvtsNmdth + "명";
                    document.getElementById("mdrsdOcnm").innerHTML = result[0].mdrsdOcnm;
                    document.getElementById("mdrsdOcrt").innerHTML = result[0].mdrsdOcrt + '%';
                    document.getElementById("mdrsdNmdth").innerHTML = result[0].mdrsdNmdth + "명";
                    document.getElementById("zkvfOcnm").innerHTML = result[0].zkvfOcnm;
                    document.getElementById("zkvfOcrt").innerHTML = result[0].zkvfOcrt + '%';
                    document.getElementById("zkvfNmdth").innerHTML = result[0].zkvfNmdth + "명";
                }
                console.log(result);
            },
            error(e) {
                console.log(e);
            }
        });
    }
</script>
</html>