<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="airbnb, booking, city guide, directory, events, hotel booking, listings, marketing, places, restaurant, restaurant">
    <meta name="description" content="Guido - Directory & Listing HTML Template">
    <meta name="CreativeLayers" content="ATFN">
    <!-- css file -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Title -->
    <title>Guido - Directory & Listing HTML Template</title>
    <!-- Favicon -->
    <link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon"/>
    <link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <style>
        body{
            overflow-x:hidden; overflow-y:auto;
        }
    </style>

<body>

<div class="wrapper">
    <div class="preloader"></div>

    <!-- Main Header Nav -->
    <header class="header-nav menu_style_home_one style2 navbar-scrolltofixed stricky main-menu">
        <div class="container-fluid p0">
            <!-- Ace Responsive Menu -->
            <nav>
                <!-- Menu Toggle btn-->
                <div class="menu-toggle">
                    <img class="nav_logo_img img-fluid" src="/images/header-logo.svg" alt="header-logo.svg">
                    <button type="button" id="menu-btn">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a href="/covid/index" class="navbar_brand float-left dn-smd">
                    <strong><h3 style="font-size: 60px; color:#3e4c66; font-weight: bold;">질병 지키미</h3></strong>
                </a>
                <!-- Responsive Menu Structure-->
                <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
                <div class="ht_left_widget float-left">
                    <ul>
                        <li class="list-inline-item">
                            <div class="ht_search_widget">

                            </div>
                        </li>
                    </ul>
                </div>
                <div style="padding-right: 5%;">
                    <ul id="respMenu" class="ace-responsive-menu text-right" data-menu-style="horizontal">
                        <li>
                            <a href="/covid/list1"><span class="title">감염병 발생정보</span></a>
                            <!-- Level Two-->
                            <ul>
                                <li><a href="/covid/list1">감염병 제1군</a></li>
                                <li><a href="/covid/list2">감염병 제4군</a></li>
                            </ul>
                        </li>
                        &nbsp;&nbsp;&nbsp;

                        <li>
                            <a href="/covid/prevention1"><span class="title">예방생활 수칙</span></a>
                            <ul>
                                <li><a href="/covid/prevention1">신종인플루엔자 예방수칙</a></li>
                                <li><a href="/covid/preventionQ">신종인플루엔자 Q & A</a></li>


                            </ul>
                            <!-- Level Two-->
                        </li>&nbsp;&nbsp;&nbsp;

                        <li>
                            <a href="/covid/hospital"><span class="title">병원</span></a>
                            <!-- Level Two-->
                        </li>&nbsp;&nbsp;&nbsp;

                        <li>
                            <a href="/covid/publichospital"><span class="title">보건소</span></a>
                            <!-- Level Two-->

                        </li>&nbsp;&nbsp;&nbsp;

                        <li>

                        <li class="list-inline-item list_s">
                            <a href="/covid/RegForm" class="btn flaticon-avatar">
                                <span class="dn-1200" style="color: red;"><strong>감염병 신고</strong></span></a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- Modal -->
    <div class="sign_up_modal modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md mt100" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Main Header Nav For Mobile -->
<div id="page" class="stylehome1 h0">
    <div class="mobile-menu">
        <div class="header stylehome1">
            <div class="main_logo_home2 text-left">
                <img class="nav_logo_img img-fluid mt15" src="/images/header-logo2.svg" alt="header-logo2.svg">

            </div>
            <ul class="menu_bar_home2">
                <li class="list-inline-item"><a class="custom_search_with_menu_trigger msearch_icon" href="#" data-toggle="modal" data-target="#staticBackdrop"><span class="flaticon-loupe"></span></a></li>
                <li class="list-inline-item"><a class="muser_icon" href="page-register.html"><span class="flaticon-avatar"></span></a></li>
                <li class="list-inline-item"><a class="menubar" href="#menu"><span></span></a></li>
            </ul>
        </div>
    </div><!-- /.mobile-menu -->


    <!-- Search Field Modal -->
    <section class="modal fade search_dropdown" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="popup_modal_wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a class="close closer" data-dismiss="modal" aria-label="Close" href="#"><span><img src="/images/icons/close.svg" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
    </section>

    <!-- Listing Single v5 Home Area -->

    <div class="banner-style-one owl-theme owl-carousel" style="background-color: #666666;";>

        <div class="slide slide-one" ></div>
        <div class="slide slide-one"> </div>
    </div>


    <!-- /.carousel-btn-block banner-carousel-btn -->
</div><!-- /.main-banner-wrapper -->
</div>
</div>
</div>
<div class="container">

    <div class="row listing_single_row style2">
        <div class="col-lg-8 col-xl-7">
            <div class="single_property_title listing_single_v1">
                <div class="media">
                    <div class="media-body mt20">
                        <h2 class="mt-0" style="font-weight: bold; font-size: 45px">신종인플루엔자 예방수칙</h2>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-5">
            <div class="single_property_social_share listing_single_v1 mt80 mt0-lg">
                <div class="spss style2 listing_single_v1 mt30 float-left fn-lg">
                    <ul class="mb0">
                    </ul>
                </div>

            </div>
        </div>
    </div>




    <section class="blog_post_container pb70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="main_blog_post_content">
                        <div class="mbp_thumb_post">
                            <p class="fz15 mb25"><h4><strong>첫째,<br> 손을 자주 씻고 손으로 눈, 코, 입을 만지는 것으로 피하십시오.</strong></h4><br>* 외출해서 돌아왔을 때, 입과 코를 만진 후에는 손을 씻으십시오.<br>* 흐르는 물에 비누로 20초 이상 씻으세요.</p>
                            <p class="fz15 mb50"><h4><strong>둘째,<br> 재채기나 기침을 할 경우에는 휴지로 입과 코를 가리고 하고,<br> 휴지를 버리고 손을 깨끗하게 씻으십시오.</strong></h4><br>* 휴지가 없을 경우 옷소매로 가리고 하십시오.<br>* 기침을 할 경우 가급적 마스크를 사용하십시오.<br>* 창문을 열어 자주 환기를 시키십시오.</p>
                            <p class="fz15 mb50"><h4><strong>셋째,<br> 신종인플루엔자가 발생한 국가 방문한 후 7일 이내에 급성열성호흡기 <br>질환이 생기면 가까운 보건소에 신고해주시면 정확한 진단과 치료를 <br>받으실 수 있습니다.</strong> </h4></p>
                            <p class="fz15 mb50"><h3>* 급성열성호흡기 질환이란? <br> <h4><strong>37.8도 이상의 발열이 있으면서, <br>인후통, 기침, 콧물 또는 코막힘 중에 1개 이상 증상이 있을 경우</strong></h4></h3></p>

                            <br><br>
                            <div class="mbp_blockquote text-center">
                                <div class="blockquote">
                                    <div class="icon">“</div>
                                    <em class="mb-0"><h4>올바른 손씻기 6단계</h4></em>
                                    <div class="blockquote-footer">자주 씻어요 -> 올바르게 씻어요 -> 깨끗하게 씻어요</div>
                                </div>
                            </div>
                            <p class="fz15">"손씻기"는 건강을 지키는 가장 좋은 습관입니다.<br>건강을 위한 3가지 약속</p>
                            <div class="thumb mt30">
                                <img class="w100" src="/images/handwash.png" alt="handwash.png">
                            </div>
                            <br><br><br><br>

                            <div class="mbp_blockquote text-center">
                                <div class="blockquote">
                                    <div class="icon">“</div>
                                    <em class="mb-0"><h4>기침시 주의사항</h4></em><br><br>
                                    <img class="w100" src="/images/washpro.png" alt="washpro.png">
                                </div>
                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
</div>


<br><br><br>

<!-- Our Footer -->
<section class="footer_one home1">
    <div class="container pb70">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_contact_widget">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li class="text-white df"><span class="flaticon-pin mr15"></span><a href="#">서울특별시 강서구 화곡동 우장산로10길 112</a></li>
                        <li class="text-white"><span class="flaticon-phone mr15"></span><a href="#">82+ 010-9962-6997</a></li>
                        <li class="text-white"><span class="flaticon-email mr15"></span><a href="#">lowell0322@naver.com</a></li>
                    </ul>
                </div>
            </div>

            <hr>
            <div class="container pt20 pb30">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="copyright-widget mt10 mb15-767">
                            <p>© 질병지키미</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="footer_logo_widget text-center mb15-767">
                            <div class="wrapper">
                                <div class="logo text-center">

                                    <span class="logo_title text-white pl15">질병지키미</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</section>
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrapper End -->
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mmenu.all.js"></script>
<script src="/js/ace-responsive-menu.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/snackbar.min.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scrollto.js"></script>
<script src="/js/jquery-scrolltofixed-min.js"></script>
<script src="/js/jquery.counterup.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/timepicker.js"></script>
<script src="/js/wow.min.js"></script>
<!-- Custom script for all pages -->
<script src="/js/script.js"></script>
</body>
</html>