<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="airbnb, booking, city guide, directory, events, hotel booking, listings, marketing, places, restaurant, restaurant">
    <meta name="description" content="Guido - Directory & Listing HTML Template">
    <meta name="CreativeLayers" content="ATFN">
    <!-- css file -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Title -->
    <title>Guido - Directory & Listing HTML Template</title>
    <!-- Favicon -->
    <link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon"/>
    <link href="/images/favicon.ico" sizes="128x128" rel="shortcut icon"/>

    <script type ="text/javascript">

        function kakaoPost(f) {
            new daum.Postcode({
                oncomplete: function (data) {
                    let address = data.address;
                    let zonecode = data.zonecode;
                    f.addr1.value = "(" + zonecode + ")" + address
                }
            }).open();
        }

        <!-- 사용자 입력 확인 -->
        function Checkfield(f) {

            if (f.name.value == "") {
                alert("이름을 입력하세요");
                f.name.focus();
                return false;
            }
            if (f.number.value == "") {
                alert("전화번호를 입력하세요");
                f.number.focus();
                return false;
            }


            if (f.addr1.value == "") {
                alert("주소를 입력하세요");
                f.addr1.focus();
                return false;
            }
            if (f.addr2.value == "") {
                alert("상세주소를 입력하세요");
                f.addr2.focus();
                return false;
            }

        }

    </script>

    <script type="text/javascript">

        /* 유저 유효성 검사 정규식 */

        // 이름 정규식
        let userNameT = /^[가-힣]{2,6}$/;


        $(document).ready(function () {

            $("#name").blur(function () {
                if (!userNameT.test($("#name").val())) {
                    console.log("false");
                    $("#name_check").text("한글 2~6자 이내로 입력하세요");
                    $("#name_check").css("color", "red");
                } else {
                    console.log("true");
                    $("#name_check").text("");
                }
            });


        });
    </script>


</head>
<body>
<div class="wrapper">
    <div class="preloader"></div>

    <!-- Main Header Nav -->
    <header class="header-nav menu_style_home_one style2 navbar-scrolltofixed stricky main-menu">
        <div class="container-fluid p0">
            <!-- Ace Responsive Menu -->
            <nav>
                <!-- Menu Toggle btn-->
                <div class="menu-toggle">
                    <img class="nav_logo_img img-fluid" src="images/header-logo.svg" alt="header-logo.svg">
                    <button type="button" id="menu-btn">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a href="/covid/index" class="navbar_brand float-left dn-smd">
                    <strong><h3 style="font-size: 60px; color:#3e4c66; font-weight: bold;">질병 지키미</h3></strong>
                </a>
                <!-- Responsive Menu Structure-->
                <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
                <div class="ht_left_widget float-left">
                    <ul>
                        <li class="list-inline-item">
                            <div class="ht_search_widget">

                            </div>
                        </li>
                    </ul>
                </div>
                <div style="padding-right: 5%;">
                    <ul id="respMenu" class="ace-responsive-menu text-right" data-menu-style="horizontal">
                        <li>
                            <a href="/covid/list1"><span class="title">감염병 발생정보</span></a>
                            <!-- Level Two-->
                            <ul>
                                <li><a href="/covid/list1">감염병 제1군</a></li>
                                <li><a href="/covid/list2">감염병 제4군</a></li>
                            </ul>
                        </li>
                        &nbsp;&nbsp;&nbsp;

                        <li>
                            <a href="/covid/prevention1"><span class="title">예방생활 수칙</span></a>
                            <ul>
                                <li><a href="/covid/prevention1">신종인플루엔자 예방수칙</a></li>
                                <li><a href="/covid/preventionQ">신종인플루엔자 Q & A</a></li>


                            </ul>
                            <!-- Level Two-->
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;

                        <li>
                            <a href="/covid/hospital"><span class="title">병원</span></a>
                            <!-- Level Two-->
                        </li>&nbsp;&nbsp;&nbsp;

                        <li>
                            <a href="/covid/publichospital"><span class="title">보건소</span></a>
                            <!-- Level Two-->

                        </li>&nbsp;&nbsp;&nbsp;

                        <li>

                        <li class="list-inline-item list_s">
                            <a href="/covid/RegForm" class="btn flaticon-avatar">
                                <span class="dn-1200" style="color: red;"><strong>감염병 신고</strong></span></a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>

</div>

<!-- Inner Page Breadcrumb -->
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="breadcrumb_content">
                    <h2 class="breadcrumb_title">감염병 신고 </h2>
                    <ol class="breadcrumb">

                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our LogIn Register -->
<section class="our-log-reg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3">
                <div class="sign_up_form inner_page">
                    <ul class="nav nav-pills mb-4" id="pills-tab2" role="tablist">

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-profile-tab2" data-toggle="pill" href="#pills-profile"
                               role="tab" aria-controls="pills-profile" aria-selected="false"></a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent2">
                        <div class="tab-pane fade show active" id="pills-ome2" role="tabpanel"
                             aria-labelledby="pills-home-tab2">
                            <form  name="f"  onsubmit="return Checkfield(this);" method="post">


                                <h3 style="color: #0a0a0a;"><strong>인적사항</strong></h3>
                                <!--이름입력-->
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="name" id="name"
                                           placeholder="이름" >
                                    <div id="name_check"></div>
                                    <div id="name_result"></div>
                                </div>

                                <!--주민등록번호-->
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="mainNumber" id="mainNumber"
                                           placeholder="주민(외국인)등록번호">
                                </div>

                                <div class="form-group input-group">
                                    <input type="checkbox" name="sex" value="남자">남자
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="sex" value="여자">여자
                                </div>

                                <!--전화번호입력-->
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="number" id="number"
                                           placeholder="전화번호">
                                </div>

                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="job" id="job"
                                           placeholder="직업">
                                </div>


                                <!--주소입력-->
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="addr1" id="addr1"
                                           placeholder="우편번호" readonly>
                                    <input type="button" value="우편번호 찾기" style="display:inline-block"
                                           onclick="kakaoPost(this.form)"/>
                                </div>
                                <div class="form-group input-group" id="adrr1_check"></div>


                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="addr2" id="addr2"
                                           placeholder="상세주소">
                                </div>
                                <br><br><br>


                                <h3 style="color: #0a0a0a;"><strong>감염병명</strong></h3>
                                <!--진단명-->
                                <div class="form-group input-group">

                                    <li class="select-cnt">
                                        <label >제1급</label>
                                        <select class="w40" name="sick1">
                                            <option value="에볼라바이러스병">에볼라바이러스병</option>
                                            <option value="마버그열">마버그열</option>
                                            <option value="라싸열">라싸열</option>
                                            <option value="크리미안콩고출혈열">크리미안콩고출혈열</option>
                                            <option value="남아메리카출혈열">남아메리카출혈열</option>
                                            <option value="리프트밸리열">리프트밸리열</option>
                                            <option value="두창">두창</option>
                                            <option value="페스트">페스트</option>
                                            <option value="탄저">탄저</option>
                                            <option value="보툴리눔독소증">보툴리눔독소증</option>
                                            <option value="야토병">야토병</option>
                                            <option value="신종감염병증후근(특이사항작성)">신종감염병증후근(특이사항작성)</option>
                                            <option value="중증급성호흡기증후군">중증급성호흡기증후군</option>
                                            <option value="중동호흡기증후군">중동호흡기증후군</option>
                                            <option value="동물인플루엔자 인체감염증">동물인플루엔자 인체감염증</option>
                                            <option value="신종인플루엔자">신종인플루엔자</option>
                                            <option value="디프테리아">디프테리아</option>
                                            <option value="...." selected="selected">....</option>
                                        </select>
                                    </li>

                                    <li class="select-cnt">
                                        <label >제2급</label>
                                        <select class="w40" name="sick2">
                                            <option value="수두">수두</option>
                                            <option value="홍역">홍역</option>
                                            <option value="콜레라">콜레라</option>
                                            <option value="장티푸스">장티푸스</option>
                                            <option value="파라티푸스">파라티푸스</option>
                                            <option value="세균성이질">세균성이질</option>
                                            <option value="장출혈성대장균감염증">장출혈성대장균감염증</option>
                                            <option value="A형간염">A형간염</option>
                                            <option value="백일해">백일해</option>
                                            <option value="유행성이하선염">유행성이하선염</option>
                                            <option value="풍진">풍진</option>
                                            <option value="폴리오">폴리오</option>
                                            <option value="수막구균 감염증">수막구균 감염증</option>
                                            <option value="b형헤모필루스인플루엔자">b형헤모필루스인플루엔자</option>
                                            <option value="성홍열">성홍열</option>
                                            <option value="반코마이신내성황색포도알균 감염증">반코마이신내성황색포도알균 감염증</option>
                                            <option value="카바페넴내성장내세균속균종 감염증">카바페넴내성장내세균속균종 감염증</option>
                                            <option value="E형간염">E형간염</option>
                                            <option value="...." selected="selected">....</option>
                                        </select>
                                    </li>

                                    <li class="select-cnt">
                                        <label >제3급</label>
                                        <select class="w40" name="sick3">
                                            <option value="파상풍">파상풍</option>
                                            <option value="B형간염">B형간염</option>
                                            <option value="일본뇌염">일본뇌염</option>
                                            <option value="C형간염">C형간염</option>
                                            <option value="말라리아">말라리아</option>
                                            <option value="레지오넬라증">레지오넬라증</option>
                                            <option value="비브리오패혈증">비브리오패혈증</option>
                                            <option value="발진티푸스">발진티푸스</option>
                                            <option value="발진열">발진열</option>
                                            <option value="쯔쯔가무시증">쯔쯔가무시증</option>
                                            <option value="렙토스피라증">렙토스피라증</option>
                                            <option value="브루셀라증">브루셀라증</option>
                                            <option value="공수병">공수병 감염증</option>
                                            <option value="신증후군출혈열">신증후군출혈열</option>
                                            <option value="크로이츠펠트-야콥병">크로이츠펠트-야콥병</option>
                                            <option value="황열">황열</option>
                                            <option value="뎅기열">뎅기열</option>
                                            <option value="큐열">큐열</option>
                                            <option value="웨스트나일열">웨스트나일열</option>
                                            <option value="라임병">라임병</option>
                                            <option value="진드기매개뇌염">진드기매개뇌염</option>
                                            <option value="유비저">유비저</option>
                                            <option value="치쿤구니야열">치쿤구니야열</option>
                                            <option value="중증열성혈소판감소증후군">중증열성혈소판감소증후군</option>
                                            <option value="지카바이러스 감염증">지카바이러스 감염증</option>
                                            <option value="...." selected="selected">....</option>
                                        </select>
                                    </li>
                                </div>
                                <br>

                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="sick" id="sick"
                                           placeholder="특이사항(그 외)">
                                </div>
                                <br><br><br>

                                <h3 style="color: #0a0a0a;"><strong>감염병 발생정보</strong></h3>

                                <h5 style="color: #0a0a0a;">발병일</h5>
                                <div class="form-group input-group">
                                    <input type="date"  max="2030-12-31" min="2000-01-01" value="2022-12-23" class="form-control" name="date" >
                                </div>
                                <br>

                                <h5 style="color: #0a0a0a;">진단일</h5>
                                <div class="form-group input-group">
                                    <input type="date"  max="2030-12-31" min="2000-01-01" value="2022-12-23" class="form-control" name="date" >
                                </div>
                                <br>

                                <h5 style="color: #0a0a0a;">신고일</h5>
                                <div class="form-group input-group">
                                    <input type="date"  max="2030-12-31" min="2000-01-01" value="2022-12-23" class="form-control" name="date" >
                                </div>
                                <br>

                                <h5 style="color: #0a0a0a;">확진검사 결과</h5>
                                <div class="form-group input-group">
                                    <input type="checkbox" name="result" value="양성">양성
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="result" value="음성">음성
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="result" value="검사 진행중">검사 진행중
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="result" value="검사 미실시">검사 미실시
                                </div>
                                <br>

                                <h5 style="color: #0a0a0a;">입원여부</h5>
                                <div class="form-group input-group">
                                    <input type="checkbox" name="hospital" value="외래">외래
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="hospital" value="입원">입원
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="hospital" value="그 밖의 경우">그 밖의 경우
                                </div>
                                <br>

                                <h5 style="color: #0a0a0a;">비고(특이사항)</h5>
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" name="text_sick" id="text_sick"
                                           placeholder="특이사항">
                                </div>
                                <br>

                                <h5 style="color: #0a0a0a;">사망여부</h5>
                                <div class="form-group input-group">
                                    <input type="checkbox" name="dead" value="생존">생존
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="dead" value="사망">사망

                                </div>

                                <br><br><br>




                                <h3 style="color: #0a0a0a;"><strong>신고방법</strong></h3>
                                <div class="form-group input-group">
                                    <p> 1. 제1급감염병의 경우에는 즉시 질병관리청장 또는 관할 보건소장에게 구두, 전화 등의 방법으로 알린 후 질병관리청장 또는 관할 보건소장에게 신고서를 제출해야 하고,
                                        제2급감염병 및 제3급감염병의 경우에는 24시간 이내에 질병관리청장 또는 관할 보건소장에게 신고서를 제출해야합니다. 다만, 이미 신고한
                                        감염병환자 중 확진검사결과 또는 환자 등 분류정보가 변경되거나 환자가 아닌 것으로 확인된 경우에는 반드시 그 결과를 변경하여 신고하거나 관할 보건소로
                                        통보해야 합니다.</p><br>
                                    <p> 2. 감염병에 따라 환자상태 및 감염병 원인 파악을 위한 추가정보를 요청할 수 있습니다. </p><br>
                                    <p> 3. 감염병 발생을 신고하기 전에 환자가 사망한 경우에는 감염병 발생 신고서와 감염병환자등 사망 신고서를 모두 작성하여 신고해야 하며, 감염병 발생을 신고한 후에 환자가 사망한 경우에는 감염병환자등 사망 신고서만
                                        작성하여 신고합니다.</p><br>
                                    <p> 4. 제2급감염병 중 결핵은 [결행예방법]에서 정하는 방법에 따라, 제3급감염병 중 후천성면역결핍증은 [후천성면역결핍증 예방법]에서
                                        정하는 방법에 따라 별도로 발생 및 사망을 신고합니다.</p><br>
                                    <p> 5. 제4급감염병(표본감시대상감염병)이 발생한 경우에는 표본감시의료기관으로 지정된 보건의료기관이나 그 밖의 기관 또는 단체의 장이 질병관리본부장이 정하는
                                        별도의 서식으로 7일 이내에 신고해야 합니다. </p><br>
                                    <p> 6. 팩스 또는 정보시스템을 통해 신고합니다. </p><br>
                                    <p> 7. 관할 의료기관 등으로부터 신고 받은 보건소에서는 환자의 주민등록주소지 관할 보건소로 이전 보고합니다. </p>
                                </div>

                                <div><input type="button" onclick="location.href='/covid/index'"; value="제출하기" class="btn btn-log btn-block btn-thm" style="background-color: #666666;"/></div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Our Footer -->
<section class="footer_one home1">
    <div class="container pb70">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_contact_widget">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li class="text-white df"><span class="flaticon-pin mr15"></span><a href="#">서울특별시 강서구 화곡동
                            우장산로10길 112</a></li>
                        <li class="text-white"><span class="flaticon-phone mr15"></span><a href="#">82+
                            010-9962-6997</a></li>
                        <li class="text-white"><span class="flaticon-email mr15"></span><a
                                href="#">lowell0322@naver.com</a></li>
                    </ul>
                </div>
            </div>

            <hr>
            <div class="container pt20 pb30">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="copyright-widget mt10 mb15-767">
                            <p>© 질병지키미</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="footer_logo_widget text-center mb15-767">
                            <div class="wrapper">
                                <div class="logo text-center">

                                    <span class="logo_title text-white pl15">질병지키미</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</section>
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrapper End -->
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mmenu.all.js"></script>
<script src="/js/ace-responsive-menu.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/isotop.js"></script>
<script src="/js/snackbar.min.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scrollto.js"></script>
<script src="/js/jquery-scrolltofixed-min.js"></script>
<script src="/js/jquery.counterup.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/progressbar.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/timepicker.js"></script>
<script src="/js/wow.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM&callback=initMap"></script>
<script src="/js/googlemaps1.js"></script>
<!-- Custom script for all pages -->
<script src="/js/script.js"></script>
</body>

</html>